<app-records-list></app-records-list>
<h2>Add a new record</h2>
<div>
  <form [formGroup]="formGroup" (ngSubmit)="saveRecord()">
    <label>Id:</label>
    <input formControlName="recordId">
    <br>
    <label>Album name:</label>
    <input formControlName="albumName">
    <br>
    <label>Price:</label>
    <input formControlName="price">
    <br>
    <label>Stock:</label>
    <input formControlName="inStock">
    <br>
    <label>Record type:</label>
    <input formControlName="typeOfRecord">
    <br>
    <button type="submit" [disabled]="!formGroup.valid">Add</button>
  </form>
</div>
