<h1>{{title}}</h1>

<div style="float: right;">
  <h3>{{message | async }}</h3>
  <button (click)="englishMessage()">English</button>
  <button (click)="romanianMessage()">Romanian</button>
</div>

<nav>
  <a routerLink="/records" routerLinkActive="active">Records</a>
  <a routerLink="/users" routerLinkActive="active">Users</a>
  <a routerLink="/transactions" routerLinkActive="active">Transactions</a>
  <a routerLink="/artists" routerLinkActive="active">Artists</a>
</nav>

<router-outlet></router-outlet>
